.vectorResetPassword{
    display: inline-block;
    /* width: 2em; */
    height: 1.9em;
    border-radius: 40%;
    /* margin-left: 1.5em; */
    margin-bottom: 30% !important;
    margin-top: -10%;
    margin-left: 90%;
  }