.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.SignInContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 25%;
  background: #f0fbf8 !important;
  border-radius: 15px;
}
.SignInContainer .para {
  position: absolute;
  left: calc(50% - 190px / 2 + 8px);
  
  font-size: 20px;
  color: #000000;
  margin-bottom: 15%;
  text-shadow: 1px 0 black, 0px -1px black, 1px 1px black;
}

.CommonnButton {
  box-sizing: border-box;

  gap: 8px;

  /* position: absolute; */
  width: 100px;
  height: 45px;
  left: calc(50% - 174px / 2 + 1px);
  /* top: 1025px; */
  /* text-align: left !important; */
  padding-left:10px;
  font-size: 16px;
  background: #52796f !important;
  border: 3px solid #daf0ee !important;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}

.CommonnButtonNew {
  box-sizing: border-box;

  gap: 8px;
  left: calc(50% - 174px / 2 + 1px);
 
  font-size: 13px !important;
  padding-left:10px;
  color: #77A8A4 !important;
  background: #D2D7D6 !important;
  border: 3px solid #A9C0BA !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}

.vectorSignUp{
  display: inline-block;
  /* width: 2em; */
  height: 1.8em;
  border-radius: 40%;
  /* margin-left: 1.5em; */
  margin-bottom: 30% !important;
  margin-top: -15%;
  margin-left: 85%;
}
.vector {
  display: inline-block;
  /* width: 2em; */
  height: 2em;
  border-radius: 40%;
  /* margin-left: 1.5em; */
  margin-bottom: 30% !important;
  margin-top: -30%;
  margin-left: 75%;

}

.form {
  margin-top: 5% !important;
  position: relative;
  z-index: 1;
  /* background: #ffffff; */
  max-width: 560px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.form input,
.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
.form .message {
  margin: 15px 0 0;
  color: #52796f !important;
  font-size: 16px;
  font-weight: 600;
  text-underline-offset: 0px;
  margin-bottom: 5% !important;
}
.form .message a {
  color: #3b413c !important;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}

body {
  background-color: #daf0ee !important;

  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
