files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIEpjCCA46gAwIBAgIUYhurVA7DXVstr7Ebn73kpOlElnYwDQYJKoZIhvcNAQEL
        BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
        MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
        aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
        MB4XDTIzMDkwNDE0MTcwMFoXDTM4MDgzMTE0MTcwMFowYjEZMBcGA1UEChMQQ2xv
        dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
        BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
        9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtbBHz4ywWWjIf0qQgPp8gxytLitqVao8F9tz
        KCmENhbQO8z+Y9oSdm6ZRvXdcRsM9VtueuEqnAgfNkxru2bbl6vVxWxP0vmTGo6v
        1Wm1Pbkwzc3ImGt4W5mrCe0yvlzYEeDt7XB7KdSvtIaEbGwljaYb5gNcVlpd3kXX
        l4oWFcSWn9ql1nDqdDSE9h4hf12JBKQbfDH24L13lOaIo6QMd+PQK0hIy+W8B7eD
        MC61LJ/Dp9ugULQBkdmxFf5uH1DTZtZ7JJt+KR/xCLjOfTOH60bZtfmzEXt66LKZ
        +cxYuMmy9HZ1gUQefLqZmwtWqxAYLTw1+/4NbY6RAkVEeVQzbQIDAQABo4IBKDCC
        ASQwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
        ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBSyHT3hxiwXx58b3KdhoJ+xoKerETAf
        BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
        MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
        YTApBgNVHREEIjAggg8qLmI4cmxpdmluZy5jb22CDWI4cmxpdmluZy5jb20wOAYD
        VR0fBDEwLzAtoCugKYYnaHR0cDovL2NybC5jbG91ZGZsYXJlLmNvbS9vcmlnaW5f
        Y2EuY3JsMA0GCSqGSIb3DQEBCwUAA4IBAQAhNhvJYp6bcOW0X0JsPM830kWvRFkH
        BT+riaac4whVWQa595Q4erzr4tXgLPk1oO6SS5inFF19QtWSSkQtWv0BLZSX1non
        ZlYrDMASgfKR0TcGpRqjveXMx7YlD/NwCnwyQSVR290SCZGK/JDzYIEn4EgtorA4
        YHSuAlnBTteSYQ0H/v25snEe3JXmZ9bmBBedBsLEGJafULfW6tnm1IjLZYCWzBfC
        toiCdNu8733KSlrEB+X2YC2j7ChhCffinO57uuiKCF9372A+qI19T4BesUU0xHOO
        3qINu6E1piB46y1FU/7p7u7WJPaQamr6tZbu9o9eYqCImbF011crSCTK
        -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN PRIVATE KEY-----
        MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC1sEfPjLBZaMh/
        SpCA+nyDHK0uK2pVqjwX23MoKYQ2FtA7zP5j2hJ2bplG9d1xGwz1W2564SqcCB82
        TGu7ZtuXq9XFbE/S+ZMajq/VabU9uTDNzciYa3hbmasJ7TK+XNgR4O3tcHsp1K+0
        hoRsbCWNphvmA1xWWl3eRdeXihYVxJaf2qXWcOp0NIT2HiF/XYkEpBt8MfbgvXeU
        5oijpAx349ArSEjL5bwHt4MwLrUsn8On26BQtAGR2bEV/m4fUNNm1nskm34pH/EI
        uM59M4frRtm1+bMRe3rospn5zFi4ybL0dnWBRB58upmbC1arEBgtPDX7/g1tjpEC
        RUR5VDNtAgMBAAECggEAGlNolFI2Wz4rjwYm2glxcS3+ieoQhkkcW/iYPwGE/rFf
        isqxMZavhimQXA/T/keFISgWYgeuPN2QaDW6hnTo7JkhaHHBPziacAasw6eFc2Qa
        BjgDENLBpcQmXFHaQGsDg9OrpfPeZLlEnEvBdFRXPKcM888Y2gpN/57vFi4T9SNA
        aTK0pI5EM8CsA+N9AbdQoaKP4TwLDi0mn6SITJ9AVhtPZkp6GdFfjh4m5mTunRyR
        X95YaGxe1t1lxHNgyb5Ou2rZJ9xuDot3TsSGmXASRndHUYvvF1BjDoz3sSJnE283
        k+PP1fL6wvL+ZLtP3ZioL7PWPz+gXGQhfRGVw3k+oQKBgQDnQUqwFH8FBVAsby7v
        i6zirTbV8lthMXKBc+dxFUY4WifhfUK1k/JVh/tYY3an7dXE3Hh+X9Go0fbEsvy3
        TO5EDLEFYiTwNHnSfXStp3S0Ce/EfXboVseOP6UbFGrnpT6wxFcDy64sivv0OLX5
        QhoHJ7PzspDoDLL1TWyhbVthrwKBgQDJITpltcn6FUHz5uu4Y7jILRHJbQxi8Ug+
        dvautaFqSyRiPFAvrdQXXKSGHwBhu5N4vnRg8yCx8xoCjQgLArgrBOoHDEmJIXeX
        sLB3KGH9VAjawILGVA7fiHxltr1PtLG/dlb8jZxlYitOsTj8+yvT+jV/PPmOu4ih
        7bM/6wBPowKBgCjOEIu5UiBkq5zrkXCbSMpGniJqPU2NGBNXjEMb6eQPpHHZVGgN
        zvjgoa0a/9jp0oqGDIzgA3KyecSDgKwnWvOO+b1lb/cii0xk7q2lmqYaCsC1EsI0
        bcnf2RZKKALv2Xv/aQs2aWlarNKPHyz4SPdyPgKGQ6NuejVmkAB791/pAoGAfnpC
        ussCZB0SCEpiWOV8wYR19vB4JZANGhq9LUhSZQEztAKxegoZoUdEvoKoPs0yA2/g
        x0acfMqexJPjRulC3uqMMDpt06oUBnO5xHTEigVaPBVrJ0ScxbySXXP4wDKkw/2q
        3c4/VxHQof+YEp3wBbEGCylQ1YzgctODMOKao3kCgYEApN1sk64AzmduyoAxlhfy
        fJEEijqq1SHT2TCYETR+xXdG9I3zZWQqFbF3He0u4mn97hRkflvOrPlyrEfO1Gxg
        SA7UotPw79dXHeqTh7xs8NeJRfHqdeJWETWDNalc/2GvvYcUrZJ12aJEEqjFijui
        AttufgBrw0J/E1OeKsqjWs4=
        -----END PRIVATE KEY-----