.propform
{
    
    font-weight: 100;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 80%;
    margin-top: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.proph{
    text-align: center;
    font-size: larger;
    font-family: Poppins
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    width: auto;
  }