.form{
  padding: 15px !important;
  

}
.login-forms {
margin-top: 10% !important;
position: relative;
z-index: 1;
background: #FFFFFF;
max-width: 400px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
border: 2px !important;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
background-color: rgb(243, 245, 246);
}
.form-login label, .form select {
    font-family: "Poppins", sans-serif;
    outline: 0;
    background: #efeeee !important;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }


 