.logbtn{
    background-color:#3B413C !important ;
    text-decoration: none;
    color: #ffff !important;
    
}


.UserLoggedIn{
 display: flex;
 justify-content: space-between ;
 padding: 3%;
 box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;
 margin-top: -10px;

}

.MainLogo{
    padding: 3%;
}